body{
    overflow-x: hidden;
}

p{
    font-family: 'Martel Sans', sans-serif;
}

h2{
    text-align: center;
}

.map{
    width: 30px;
}

#country-info-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#country-info-wrapper p{
    font-size: 1.3rem;
    color: black;
}

.item1{
    order: 1;
}
.item2{
    order: 2;
}

.item3{
    order: 3;
    justify-self: center;
}

.flag-image{
    width: 20rem;
}

@media only screen and (max-width: 1200px){
    .flag-image{
        width: 17rem;
    }
}

@media only screen and (max-width:768px){
    #country-info-wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
    }
    .item3{
        order:2;
        grid-column: span 1;
        grid-row: span 2;
        align-self: center;
    }
    .item2{
        order:3;
    }
    .flag-image{
        width: 14rem;
    }
}

@media only screen and (max-width: 557px){
    #country-info-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
    }

    .item{
    }

    .item3{
        order:3;
        grid-column: span 1;
        grid-row: span 2;
        align-self: center;
    }
    .item1{
        order:2;
        
    }
    .item2{
        order:1;
    }
    .flag-image{
        width: 14rem;
    }
}